.App{
  margin: 0 auto;
  width: 300px;
}

h1{
  border: 3px solid #a5d060;
  text-align: center;
}

.TodoList{
  padding: 20px;
  border: 3px solid #ffd964;
}

.DoneList{
  border: 3px solid #50b1bd;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
}

li{
  font-family: 'Courier Prime', monospace;
  list-style-type: none;
}
